.rej
*.rej
*.orig
bin/
dist/
node_modules/
vuesax-laravel-starter/node_modules/
temp/
versions/
*.zip
/bin
package-lock.json
docs/.vuepress/dist/
yarn.lock
yarn-error.log
vuexy-shell-scripts
.vscode
*.suo
VanZylApi/VanZylApi/obj/Debug/netcoreapp3.0
VanZylApi/vanZylApi.Core/obj/Debug/netcoreapp3.0
VanZylApi/vanZylApi.Infrastructure/obj/Debug/netcoreapp3.0
CarnageApi/CarnageApi/obj/Release/net5.0
CarnageApi/CarnageApi/obj/Release/netcoreapp3.0/PubTmp/Out/runtimes/unix/lib
CarnageApi/CarnageApi/obj/Release/netcoreapp3.0/PubTmp/Out/runtimes
CarnageApi/CarnageApi/obj/Debug
CarnageApi/CarnageApi/obj/Release/netcoreapp3.0
CarnageApi/CarnageApi/obj/publish
CarnageApi/.vs
CarnageApi/CarnageApi.Core/obj/Debug
CarnageApi/CarnageApi.Core/obj/Release
CarnageApi/CarnageApi.Infrastructure/obj/Debug
CarnageApi/CarnageApi.Infrastructure/obj/Release
CarnageApi/CarnageApi/.config/desktop.ini
*.ini
