#Equipment{
    img{
        width: 50%;
    }
    .seperator{
        width: 100%;
        height: 10px;
        border-bottom: 5px solid whitesmoke;
        margin-bottom: 10px;
    }
}


.left-right{
    margin-top: 33px;
}

.leftSideDiv{
    display: flex;
    text-align: center;
    align-items: center;
    background-color: #1E1E1E;
    box-shadow: -1rem 0 3rem #000;
    margin: 50px 50px;
    padding: 25px 0px;
    border-radius: 25px;
    div:first-child{
        width: 50vw;
    }
    div:last-child{
        width: 50vw;
    }
}

.rightSideDiv{
    display: flex;
    text-align: center;
    align-items: center;
    background-color: #1E1E1E;
    box-shadow: -1rem 0 3rem #000;
    margin: 10px 50px;
    padding: 25px 0px;
    border-radius: 25px;
    div:first-child{
        width: 50vw;
    }
    div:last-child{
        width: 50vw;
    }
}

@media screen and(max-width:1000px) {
    .leftSideDiv{
        flex-direction: column-reverse;
    }
    .rightSideDiv{
        flex-direction:column;
    }
    #Equipment{
        img{
            width: 100%;
        }
    }
}