@import "./dashboard.scss";


img{
  border-radius: 50%;
}


.ItemBelow{
  z-index: 2;
}

.ItemAbove{
  z-index: 1;
}


.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  position: absolute;
  width: 100%;
  opacity: 0;
}