@import "./dashboard.scss";
@import "./navbar.scss";

img {
  border-radius: 50%;
}

.ItemBelow {
  z-index: 2;
}

.ItemAbove {
  z-index: 1;
}

.slide-fade-enter-active {
  transition: all 0.3s ease-out;
  transition-delay: 0.3s;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  position: absolute;
  width: 100%;
  opacity: 0;
}

.app-container {
  min-height: 100vh;
}

.right-side {
  width: 95%;
  display: flex;
  justify-content: end;
}

.ml-2 {
  margin-left: 20px;
}

.mr-2 {
  margin-right: 20px;
}

.ml-1 {
  margin-left: 10px;
}

.mr-1 {
  margin-right: 10px;
}

$primary: #0077ff;
$dark: #fff;

.inp {
  position: relative;
  width: 100%;
  max-width: 280px;
  border-radius: 3px;
  overflow: hidden;
  margin-top: 10px;

  .label {
    position: absolute;
    top: 15px;
    left: 12px;
    font-size: 16px;
    color: rgba($dark, 0.5);
    font-weight: 500;
    transform-origin: 0 0;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
    pointer-events: none;
  }
  .focus-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($dark, 0.05);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
  }
  textarea {
    height: 150px !important;
  }
  input,
  textarea {
    -webkit-appearance: none;
    appearance: none;
    width: 100% !important;
    border: 0;
    font-family: inherit;
    padding: 16px 12px 0 12px;
    height: 56px;
    font-size: 16px;
    font-weight: 400;
    background: rgba($dark, 0.02);
    box-shadow: inset 0 -1px 0 rgba($dark, 0.3);
    color: $dark;
    transition: all 0.15s ease;

    &:hover {
      background: rgba($dark, 0.04);
      box-shadow: inset 0 -1px 0 rgba($dark, 0.5);
    }
    &:not(:placeholder-shown) {
      + .label {
        color: rgba($dark, 0.5);
        transform: translate3d(0, -12px, 0) scale(0.75);
      }
    }
    &:focus {
      background: rgba($dark, 0.05);
      outline: none;
      box-shadow: inset 0 -2px 0 $primary;
      + .label {
        color: $primary;
        transform: translate3d(0, -12px, 0) scale(0.75);
        + .focus-bg {
          transform: scaleX(1);
          transition: all 0.1s ease;
        }
      }
    }
  }
}
.Cover-Text {
  color: #fff;
}

.Input-Section {
  display: flex;
  width: 100%;
  flex-direction: column;
  label{
    margin-right: 20px;
  }
}

#LoginPage {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .login-Page {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 13px;
    flex-grow: 1;
    max-width: 500px;
    min-width: 200px;
    height: 300px;
    box-shadow: 0px 16px 8px 0px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .Title {
    text-align: center;
    color: white;
  }
  label {
    max-width: none !important;
  }
}

.mb-2 {
  margin-bottom: 20px;
}

.checkbox {
  --background: #fff;
  --border: #d1d6ee;
  --border-hover: #bbc1e1;
  --border-active: #008516;
  --tick: #fff;
  position: relative;
  input,
  svg {
    width: 21px;
    height: 21px;
    display: block;
  }
  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    outline: none;
    background: var(--background);
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border-radius: 4px;
    transition: box-shadow 0.3s;
    box-shadow: inset 0 0 0 var(--s, 1px) var(--b, var(--border));
    &:hover {
      --s: 2px;
      --b: var(--border-hover);
    }
    &:checked {
      --b: var(--border-active);
    }
  }
  svg {
    pointer-events: none;
    fill: none;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--stroke, var(--border-active));
    position: absolute;
    top: 0;
    left: 0;
    width: 21px;
    height: 21px;
    transform: scale(var(--scale, 1)) translateZ(0);
  }
  &.path {
    input {
      &:checked {
        --s: 2px;
        transition-delay: 0.4s;
        & + svg {
          --a: 16.1 86.12;
          --o: 102.22;
        }
      }
    }
    svg {
      stroke-dasharray: var(--a, 86.12);
      stroke-dashoffset: var(--o, 86.12);
      transition: stroke-dasharray 0.6s, stroke-dashoffset 0.6s;
    }
  }
  &.bounce {
    --stroke: var(--tick);
    input {
      &:checked {
        --s: 11px;
        & + svg {
          animation: bounce 0.4s linear forwards 0.2s;
        }
      }
    }
    svg {
      --scale: 0;
    }
  }
}

@keyframes bounce {
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}


.checkbox-label{
  color: white;
  margin-left: 10px;
}


.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.double-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
}

@media screen and (min-width: 800px) {
  .column {
    flex: 1
  }

  .double-column {
    flex: 2
  }
}


#HomePage{
  text-align: center;
  width: 100vw !important;
  flex-grow: 1;

  button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    &:hover{
      cursor: pointer;
    }
  }
  .add-Btn{
    background-color: #161d31!important;
    border-color: transparent;
  }

  .activity-area{
    display: flex;
    flex-grow: 2;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    @media screen and (max-width:768px){
      flex-direction: column;
    }
    .activity-List-Item{
      background-color: #283046;
      margin: auto;
      display: flex;
      border-radius: 13px;
      box-shadow: 0px 8px 14px 0px black;
      padding: 10px;
      margin: 10px;
      width: 45vw;
      transition: all 300ms ease-in-out;
      &:hover{
        transform: scale(1.02);
      }
      @media screen and (max-width:768px){
        width: 80% !important;
      }
      .content-divider{
        display: flex;
        flex-direction: row;
        width: 100%;
        .price-area{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          .price{
            display: flex;
            p{
              font-size: 10px;
              color: white;
              height: 34px;
              display: flex;
              flex-direction: column-reverse;
              margin-left: 2px;
            }
          }
        }
      }
    }
  }
}


#CartPage{
  text-align: center;
  width: 100vw !important;
  flex-grow: 1;
  .cart-area{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .activity-area{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    width: 60%;
    @media screen and (max-width:1000px){
      flex-direction: column;
      justify-content: center;
      width: 100%;
    }
    .activity-List-Item{
      background-color: #283046;
      display: flex;
      border-radius: 13px;
      box-shadow: 0px 8px 14px 0px black;
      padding: 10px;
      margin: 10px;
      width: 100%;
      transition: all 300ms ease-in-out;
      &:hover{
        transform: scale(1.02);
      }
      @media screen and (max-width:1000px){
        width: 80% !important;
      }
      .content-divider{
        display: flex;
        flex-direction: row;
        width: 100%;
        .price-area{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          .price{
            display: flex;
            p{
              font-size: 10px;
              color: white;
              height: 34px;
              display: flex;
              flex-direction: column-reverse;
              margin-left: 2px;
            }
          }
        }
      }
    }
  }
}


.Cost-Section{
  margin-right: 10px;
  width: 38%;
  margin: 10px;
  text-align: left;
  .card{
    padding: 10px;
    color: white;
    background-color: #283046;
    box-shadow: 0px 8px 14px 0px black;
    border-radius: 13px;
  }
  h5{

  }
}

.cart-button{
  
}


#CartPage{
  button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    &:hover{
      cursor: pointer;
    }
  }
  .remove-Btn{
    background-color: red!important;
    border-color: transparent;
  }
  .checkout-Btn{
    background-color: green!important;
    border-color: transparent;
    box-shadow: 0px 4px 8px 0px black ;
  }
}

.counter{
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: 0.357rem;
  background-color: #283046;
  border-color: #404656;
  color: #b4b7bd;
  text-align: center;
  background-image: none;
  padding: 0;
  border: 1px solid #d8d6de;
  margin-left: 0.75rem!important;
  button{
    padding: unset;
    padding: 0.25rem 0.5rem !important;
    cursor: pointer;
    box-shadow: none!important;
    margin: 0;
    border: unset;
    border-color: #404656;
    border-right: 1px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  output{
    border-color: #3b4253!important;
    width: 40px;
  }
}

h1,h2,h3,h4,h5,h6,span{
  color: white;
}

.Process-Section{
  display: flex;
  flex-direction: row;
  div{
    margin: 10px;
  }
  .sections{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    svg{
      color: white;
      padding: 10px;
    }
  }
  .sections:has(.active){
    h3{
      color: #0077ff;
    }
    svg{
      background-color: #0077ff;
      border-radius: 5px;
    } 
  }
}

.arrows{
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.activity-card{
  margin-left: 100px;
  @media screen and (max-width:1000px){
    margin-left:0px;
  }
}

.Payment-Area-Final{
  justify-content: center;
  align-items: center;
  margin: auto;
  @media screen and (max-width:1000px){
    width: 80% !important;
  }
}