
$navColor:rgb(7, 26, 44);


nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $navColor;
  font-family: 'Poppins', sans-serif;
  height: 65px;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.5);
}

.logo{
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size:22px;
}

.nav-links{
  display: flex;
  justify-content: end;
  width: 35%;
}

.nav-links li{
  margin-right: 0px;
  list-style:none;
}
.nav-links li:has(a){
  margin-right: 10px;
}

.nav-links a{
  color: rgb(226,226,226);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight:bold;
  font-size:14px;
}

.burger{
  display:none;
  cursor: pointer;
}

.burger div{
  width:25px;
  height:3px;
  background-color:#fff;
  margin: 5px;
  transition: all 0.3s ease
  
}

@media screen and (max-width:1024px){
  .nav-links{
    width:60%;
  }
}

@media screen and (max-width:768px){
  .hideNav{
    display: none !important;
  }

  body{
    overflow-x: hidden !important;
  }
  .nav-links{
    position:absolute;
    right:0px;
    height:92vh;
    top: 8vh;
    background-color:$navColor;
    display:flex;
    flex-direction: column;  
    align-items: center;
    justify-content: start;
    width:50%;
    transform: translateX(-252%);
    transition: transform 0.5s ease-in;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.5);
  }
  .nav-links li{
    margin-right: 0px;
    margin-top: 10px;
    opacity: 0;
  }
  .burger{
    display:block;
  }
}

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from{
    opacity:0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1{
  transform: rotate(-40deg) translate(-5px,6px);
}

.toggle .line2{
  transform: rotate(90deg) translate(0px,0px);
}

.toggle .line3{
  transform: rotate(35deg) translate(-5px,-6px);
}

.logo-image{
  width: 50px;
}


.cartIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  a{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  p{
    margin-left: 5px;
    text-align: center;
  }
}

.nav-bar{
  li{
    justify-content: center;
    align-items: center;
    display: flex;
  }
}