#Home{
    .TopicHeader{
        text-align: center;
        margin-bottom: 20px;
        h1{
            color: whitesmoke;
        }
    }
    .topicContainer{
        background-color: #0B0D09;
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

    }
    .topicitemcontainer{
        display: flex;
        justify-content: center;
        
    }

    .topicItem{
        background-color: #719294;
        display: flex;
        margin: 5px;
        padding: 5px 10px;
        border-radius: 25px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
        cursor: pointer;
        transition: all 200ms ease;
        h2{
            color: black;
        }
        &:hover{
            transform: scale(1.2) ;
        }
    }



    .threadHeader{
        text-align: center;
        margin-bottom: 20px;
        h1{
            color: whitesmoke;
        }
        h2{
            color: whitesmoke;
        }
    }
    .threadContainer{
        background-color: #0B0D09;
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        

    }
    .threadItemContainer{
        display: flex;
        justify-content: center;
        
    }

    .threadItem{
        display: flex;
        margin: 5px;
        padding: 5px 10px;
        border-radius: 25px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
        cursor: pointer;
        transition: all 200ms ease;
        background-color: #719294;
        h2{
            color: black;
        }
        &:hover{
            transform: scale(1.2) ;
        }
    }
    .messageBox{
        display: flex;
        flex-direction: column;
        box-shadow: -1rem 0 3rem #000;
        padding: 15px;
        border-radius: 5px;
        background-color: #1E1E1E;
        margin: 0 auto;
        height: fit-content;
        width: 75%;
        margin-top: 10px;
    }
    .message{
        display: flex;
        flex-direction: column;
        box-shadow: -1rem 0 3rem #000;
        padding: 15px;
        border-radius: 5px;
        background-color: #1E1E1E;
        margin: 0 auto;
        width: 75%;

        
        input{
            
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }
    }
    .addTopicplus{
        text-align: center;
        cursor: pointer;
        width: fit-content;
        margin: 0 auto;
        transition: all 200ms ease;
        &:hover{
            transform: scale(1.2);
        }
    }
    .messageItem{
        margin-bottom: 20px;
    }
    .addTopic, .addThread, .addPost{
        text-align: center;
        display: flex;
        flex-direction: column;
        box-shadow: -1rem 0 3rem #000;
        padding: 15px;
        border-radius: 25px;
        background-color: #1E1E1E;
        margin: 0 auto;
        width: 50%;
        h1{

        }

        
        input{
            
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 25px;
            box-sizing: border-box;
        }
        button{
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 25px;
            box-sizing: border-box;
            cursor: pointer;
        }
        .message{
            height: 150px;
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 25px;
            box-sizing: border-box;
            resize: none;
            &:focus{
                outline: none;
            }
        }

        
    }
    .addThreadplus{
        text-align: center;
        cursor: pointer;
        width: fit-content;
        margin: 0 auto;
        transition: all 200ms ease;
        &:hover{
            transform: scale(1.2);
        }
    }

    .addPostplus{
        text-align: center;
        cursor: pointer;
        width: fit-content;
        margin: 0 auto;
        transition: all 200ms ease;
        &:hover{
            transform: scale(1.2);
        }
    }

    .addTopicplus , .addThreadplus, .addPostplus{
        padding: 10px;
    }
}

